body {
  font-family: sans-serif;
  font-size: 16px;
}
/* HERO */
.hero {
  background-color: #232323;
}
.hero .title {
  color: #fff;
}
.hero .subtitle {
  color: #f4f4f4f2;
}

/* MAP */
#map-container .image {
  position: relative;
}

#map {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.centre-icon {
  width: 50px !important;
  height: 50px !important;
  background: transparent url("./img/center-icon.png") no-repeat center center;
  background-size: contain;
}

.border-1px {
  border: 1px solid #ccc;
}
/* FOOTER */
.footer {
  background-color: #f2f2f2;
}
